<% provide(:title, "退会") %>
<div class="container">
<div class="row">
<div class="withdrawal_page">
 <h3>本当に退会しますか？</h3>
 <p>
 退会すると会員情報や<br>
 これまでの購入履歴が閲覧できなくなります。<br>
 退会する場合は、「退会する」をクリックしてください。
 </p>
</div>
</div>
<div class="row">
<div class="withdrawl_form">
 <%= link_to "退会しない" user_path(@user.id), class: "btn btn-info" %>
 <%= form_for @user,:url => {controller: "users", action: "invaild"} do |f|%>

 <%= f.hidden_field :is_valid, {value: :false} %>
 <%= f.submit "退会する", class: "btn btn-danger" %>
<% end %>
</div>
</div>
