

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
    <h3>管理者ログイン</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table class="table", style="border:none;">
    <tr>
      <th style="border:none;">メールアドレス</th>
      
      <td style="border:none;">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      <td>
    </tr>  
    <tr>
      <th style="border:none;">パスワード（６字以上）</th>
    
      <td style="border:none;">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </td>
    </tr>
    <tr>
      <th style="border:none;"></th>
      <td style="border:none;"><%= f.submit "ログイン", class: "btn btn-info" %></td>
    </tr>  
</table>
<% end %>
</div>
</div>
</div>
