
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="sidebar">
            <%= render 'products/sidebar', genres: @genres %>
            </div>
        </div>
        <div class="col-lg-10">
            <div>
                <p>ようこそ、NaganoCakeへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。</p>
                <%= image_tag "sweets.jpg", alt: "Rails icon", id: "assets", width: "500px" %>
            </div>
            <div>
                 <h2 class="heading">オススメ商品</h2>
                 <div id="article_lists"><%= render 'more', index_products: @products  %></div>
                 <%= link_to 'もっと見る>', products_path, class:"more-btn more" %>
            </div>
        </div>
    </div>
</div>