/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/

.products{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.productbox{
	width: 200px;
	height: 200px;
	border: solid 1px #707070;
	margin:5px;
	}

.productbox p{
	font-size:15px;
}
.productbox_intro{
	padding:10px
}


.admin_sessions_new{
	margin-top:300px;
}

.products_index{
	margin-top:100px;
}
.genre_serch{
	margin-top:100px;
	border:solid 1px #707070;
}

.genre_serch h2{
	border-bottom:solid 1px #707070;
	font-size:20px;
}

.genre_serch link_to{
	color: #707070;
	text-decoration:none;
}

.about{
	margin-top:100px;
}

.glyphicon{
	margin:0;
}

#ebi{
	margin:10px 0 0 100px;
}


