
<h2>注文情報確認</h2>
<%= form_for(@product, url: admins_products_path) do |f| %>
<table>
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
		<% @user.cart_items.each do |cart_item| %>
		<tr>
			<td><%= attachment_image_tag cart_item.product.image_id, :image_id, :fill, 30, 20, fallback: "no_image.jpg" %></td>
			<td>cart_item.product.price</td>
			<td>cart_item.count</td>
			<td>cart_item.product.price*cart_item.count</td>
		</tr>
		<% end %>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>送料</th>
			<th>商品合計（税込）</th>
			<th>請求金額</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>800</td>
			<td></td>
			<td>@order.count</td>
			<td>@order.product.price*order.count</td>
			<td>@order.product.price*order.count + 800</td>
		</tr>
	</tbody>
</table>

<h3>支払い方法</h3>
<p>o@rder.payment_method</p>
<h3>お届け先</h3>
<P><span>@order.postcode</span>@order.address</P>
<% end %>